<p-card>
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col-6 p-md-6" *ngFor="let control of jsonFormData?.item">
                <h3>{{control.text}}</h3>

                <div class="p-col-6 p-md-6">
                    <p-calendar 
                    *ngIf="control.type === 'date'" 
                    [formControlName]="control.linkId"
                    [maxDate]="currentDate"
                    [required]="true"
                    ></p-calendar>
                </div>
                
        
                <div *ngIf="control.type === 'choice'">
                    <p-dropdown
                    [options]="getOptions(control.option)"
                    [formControlName]="control.linkId"
                    [required]="true"
                    ></p-dropdown>
                </div>
                
                <div class="p-col-6 p-md-6">
                    <input 
                    *ngIf="control.type === 'string'"
                    type="text" 
                    pInputText 
                    [formControlName]="control.linkId"
                    [required]="true"
                    />
                </div>
                

                <div *ngIf="control.type === 'boolean'" class="p-formgroup-inline">
                    <div class="p-field-checkbox">
                        <p-radioButton value="true" [formControlName]="control.linkId" label="Yes"></p-radioButton>
                    </div>
                    <div class="p-field-checkbox">
                        <p-radioButton value="false" [formControlName]="control.linkId" label="No"></p-radioButton>
                    </div>
                </div>

            </div>

            <div class="p-d-flex">
                <p-button [disabled]="!questionnaireForm.valid" label="Submit" type="submit" ></p-button>
            </div>

        </div>
        
        
    </form>
</p-card>

<p-dialog header="Submitted Data" [(visible)]="display">
    {{this.questionnaireForm.value | json}}
</p-dialog>

